body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #0f0f17;
  color: white;
}

.header {
  text-align: center;
  padding: 40px 20px;
}

.add-section {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.add-section input {
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1d1d27;
  color: white;
}

#addBtn {
  padding: 12px 20px;
  background: linear-gradient(135deg, #6a42ff, #ff3275);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.gallery {
  padding: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  animation: fadeIn 0.4s ease-out;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.item:hover img {
  transform: scale(1.08);
  filter: brightness(0.7);
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255,0,0,0.75);
  border: none;
  color: white;
  padding: 5px 9px;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

.item:hover .remove-btn {
  display: block;
}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.lightbox img {
  max-width: 85%;
  max-height: 85%;
  border-radius: 12px;
  animation: zoomIn 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes zoomIn {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}
